@model IEnumerable<SistemaSase.Models.tblOcoInternas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Professores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alunos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gestores)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Outros)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Professores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alunos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gestores)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outros)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
