@model SistemaSase.Models.Gas_OpcaoGas

@{
    ViewBag.Title = "Edit";
}

<div class="row-fluid">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"> <i class="icon-align-justify"></i> </span>
                <h5>Registro</h5>
            </div>
            <div class="widget-content nopadding">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Gas_OpcaoGas</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="control-group">
                            @Html.LabelFor(model => model.IdGas, "IdGas", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="controls">
                                @Html.DropDownList("IdGas", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdGas, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="control-group">
                            @Html.LabelFor(model => model.IdOpGas, "IdOpGas", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="controls">
                                @Html.DropDownList("IdOpGas", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdOpGas, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-actions text-center">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                }

            </div>
        </div>
        <div>
            @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-mini" })
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/select2.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}
@section Scripts{
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.tables.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}