@model IEnumerable<SistemaSase.Models.Gas_OpcaoGas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblGasCozinha.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblOpGas.Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.tblGasCozinha.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tblOpGas.Id)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-mini pull-left" })
        @Html.ActionLink("Delete", "Delete", "", new { id = item.Id }, new { @class = "btn btn-danger btn-mini pull-left" })
        @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-mini pull-left" })
    </td>
</tr>
}

</table>
