@model IEnumerable<SistemaSase.Models.tblEquipamentosSeg>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Novo cadastro", "Create", "", new { @class = "btn btn-mini" })
</p>
<div class="container-fluid">

    <div class="row-fluid">
        <div class="widget-box">
            <div class="widget-title">
                <span class="icon"><i class="icon-th"></i></span>
                <h5>Registros</h5>
            </div>
            <div class="widget-content nopadding">

                <table class="table table-bordered data-table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Fardamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Apito)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CapaChuva)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Colete)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Tonfa)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Lanterna)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cracha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Quepe)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Revolver)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Radio)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="gradeA">
                            <td>
                                @Html.DisplayFor(modelItem => item.Fardamento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Apito)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CapaChuva)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Colete)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tonfa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lanterna)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cracha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quepe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Revolver)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Radio)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-mini pull-left" })
                                @Html.ActionLink("Delete", "Delete", "", new { id = item.Id }, new { @class = "btn btn-danger btn-mini pull-left" })
                                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-mini pull-left" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/select2.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}
@section Scripts{
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.tables.js"></script>
}  