@model SistemaSase.Models.tblUeb

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblUeb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nucleo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nucleo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGestor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGestor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRegistro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRegistro.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
