@model SistemaSase.Models.tblUeb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblUeb</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nucleo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nucleo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contato2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contato2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGestor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGestor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblRegistro.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblRegistro.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
