
@{
    ViewBag.Title = "fiscalizar";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container-fluid">
        <!-- RegUeb -->
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Informações UEB</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Nome :</label>
                                <div class="controls">
                                    <input type="text" name="NomeUeb" class="span11" placeholder="UEB" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Endereço :</label>
                                <div class="controls">
                                    <input type="text" name="EnderecoUeb" class="span11" placeholder="Endereço" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Núcleo</label>
                                <div class="controls">
                                    <input type="text" name="NucleoUeb" class="span11" placeholder="Núcleo" />
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">Gestor Geral :</label>
                                <div class="controls">
                                    <input type="text" name="NomeGestor" class="span11" placeholder="Nome do gestor geral" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Contatos:</label>
                                <div class="controls">
                                    <input type="text" name="ContatoUebF" class="span6" placeholder="(98) X XXXX-XXXX" />
                                    <span class="help-block"></span>
                                    <input type="text" name="ContatoUebS" class="span6" placeholder="(98) X XXXX-XXXX" />
                                    <span class="help-block">Números de contato</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <!-- 1. Segurança -->
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--1. -->Segurança</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        @Html.CheckBox("Vigilante")
                                        <!--<input type="checkbox" name="Vigilante" />-->
                                        Vigilante
                                    </label>
                                    <label>
                                        @Html.CheckBox("VigiFerista")
                                        Vigilante Ferista
                                    </label>
                                    <label>
                                        @Html.CheckBox("Porteiro")
                                        Porteiro
                                    </label>
                                    <label>
                                        @Html.CheckBox("PortFerista")
                                        Porteiro Ferista
                                    </label>
                                    <label>
                                        @Html.CheckBox("VigSemed")
                                        Vigia/Semed
                                    </label>
                                    <label>
                                        @Html.CheckBox("VigSemedPort")
                                        Vigia/Semed Porteiro
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 1.1 QntPosto -->
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--1.1 -->Quantidade de posto por unidade escolar</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Postos - Vigilante :</label>
                                <div class="controls">
                                    <input type="number" name="PostVigilante" class="span11" placeholder="0" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Postos - Porteiro :</label>
                                <div class="controls">
                                    <input type="number" name="PostPorteiro" class="span11" placeholder="0" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Postos - Vigia</label>
                                <div class="controls">
                                    <input type="number" name="PostVigia" class="span11" placeholder="0" />
                                </div>
                            </div>
                            <span class="help-block text-center">Utilizar 0 caso não possua postos</span>
                        </div>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--1.2 -->Livro de registro da ocorrencia</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        @Html.CheckBox("LivroOcorrecia")
                                        Existe livro de ocorrencia?
                                    </label>
                                    <label>
                                        @Html.CheckBox("RegistroDiarios")
                                        Há registros diários?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--2. -->Categoria de equipamentos</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        @Html.CheckBox("CatVig", new { onclick = "fCatVig()", id = "CatVig" })
                                        Vigilante
                                    </label>
                                    <label>
                                        @Html.CheckBox("CatVig", new { onclick = "fCatPor()", id = "CatPor" })
                                        Porteiro
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="EqpVig">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Equipamentos Vigilante</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            Fardamento Padronizado
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Apito
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Capa de chuva
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Colete
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Tonfa
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Crachá
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Quepe
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Revólver calibre .38
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Rádio de transmissão
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="EqpPor">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Equipamentos Porteiro</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <label class="control-label">Equipamentos :</label>
                                    <div class="controls">
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Fardamento Padronizado
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Apito
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Capa de chuva
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Colete
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Tonfa
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Crachá
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Quepe
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Revólver calibre .38
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Rádio de transmissão
                                        </label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--3. -->Estrutura física da escola</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Existe estacionamento
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Há controle de acesso dos veículos
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Portão Eletronico
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Estacionamento Restrito
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        ParaRaios
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--3.1 -->Onde há necessidades de reparo</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Parede
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Teto
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Calçada
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Quadra
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Capina
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Portas
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Piso
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--4. -->Iluminação - Onde há necessidade de reparo</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" id="InternaIlu" onclick="IluInt()" name="#" />
                                        Interna
                                    </label>
                                    <label>
                                        <input type="checkbox" id="ExternaIlu" onclick="IluExt()" name="#" />
                                        Externa
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="IluInt">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Iluminação interna</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Fiação
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Caixa de força
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Interruptores
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Tomadas
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Ar condicionado
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Ventilador
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Geladeira
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Frezzer
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Bebedouro
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden" id="IluExt">
                        <div class="widget-title">
                            <span class="icon"> <i class="icon-align-justify"></i> </span>
                            <h5>Iluminação externa</h5>
                        </div>
                        <div class="widget-content nopadding">
                            <div class="form-horizontal">
                                <div class="control-group">
                                    <div class="controls">
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Fiação
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Caixa de força
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Interruptores
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Tomadas
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Ar condicionado
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Ventilador
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Geladeira
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Frezzer
                                        </label>
                                        <label>
                                            <input type="checkbox" name="#" />
                                            Bebedouro
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--5. -->Reparo no sistema Hidráulico e sanitário </h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Banheiros
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Fossa séptica
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Cisternas
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Caixa d'água
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>


            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--6. -->Sistema preventivo de combate a incêndio</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Certificação CBM
                                    </label>
                                    <label>
                                        <input type="checkbox" id="ExtSel" onclick="Ext()" name="#" />
                                        Existe extintores
                                    </label>
                                    <div class="hidden" id="DivExtintores">
                                        <label>
                                            <input type="checkbox" id="PQS" onclick="fPQS()" name="#" />
                                            PQS <input class="hidden" id="DatePQS" type="date" name="#" />
                                        </label>
                                        <label>
                                            <input type="checkbox" id="CO2" onclick="fCO2()" name="#" />
                                            CO² <input class="hidden" id="DateCO2" type="date" name="#" />
                                        </label>
                                        <label>
                                            <input type="checkbox" id="CheckAgua" onclick="fAgF()" name="#" />
                                            Água <input class="hidden" id="DateAgua" type="date" name="#" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--6.1 -->Tipo de gás de cozinha usado</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" id="GInd" onclick="fGInd()" name="#" />
                                        Industrial
                                        <div class="hidden" id="IndFun">
                                            <ul /><input type="checkbox" name="#" />
                                            Funcional
                                        </div>
                                    </label>
                                    <label>
                                        <input type="checkbox" id="GDom" onclick="fGDom()" name="#" />
                                        Doméstico
                                        <div class="hidden" id="DomFun">
                                            <ul /><input type="checkbox" name="#" />
                                            Funcional
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--6.2 -->Prevenção de pânico/ Combate a incêndio</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">

                                    <label>
                                        <input type="checkbox" name="#" />
                                        Foi feito treinamento
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Existe sinalizações de fuga
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--7. -->Trânsito</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Possui faixa de pedestre
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Possui semáforo
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Possui agente de trânsito
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--8. -->Acessibilidade</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <span class="help-block text-center">A escola possui</span>
                            <div class="control-group">
                                <div class="controls">

                                    <label>
                                        <input type="checkbox" name="#" />
                                        Rampa de acesso interna
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Rampa de acesso externa
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Banheiros PNE/PDC
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--9. -->Arredores da escola</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <span class="help-block text-center">Existe no perimetro da escola</span>
                            <div class="control-group">
                                <div class="controls">

                                    <label>
                                        <input type="checkbox" name="#" />
                                        Bares
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Casa de festa
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Consumo e venda de drogas
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--10. -->Projetos contra violência</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Própria escola
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Parceria
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--11. -->Ocorrências internas</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Professores
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Alunos
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Alunos
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5><!--12. -->Lista de telefones de emegência</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <div class="form-horizontal">
                            <div class="control-group">
                                <div class="controls">

                                    <label>
                                        <input type="checkbox" name="#" />
                                        Delegacia de polícia local
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Ronda escolar
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Guarda municipal
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Guarda municipal
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Corpo de Bombeiro Militar
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Conselho tutelar
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Samu
                                    </label>
                                    <label>
                                        <input type="checkbox" name="#" />
                                        Sase/Semed
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-sm btn-default" type="submit">Enviar</button>
    </div>
}

@section Css{
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/select2.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-wysihtml5.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}

@section Scripts{
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Scripts/fiscalizar.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/Layout/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/Layout/js/jquery.toggle.buttons.js"></script>
    <script src="~/Content/Layout/js/masked.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.form_common.js"></script>
    <script src="~/Content/Layout/js/wysihtml5-0.3.0.js"></script>
    <script src="~/Content/Layout/js/jquery.peity.min.js"></script>
    <script src="~/Content/Layout/js/bootstrap-wysihtml5.js"></script>

    <script>
        $('.textarea_editor').wysihtml5();
    </script>
}
