@model SistemaSase.Models.tblGasCozinha

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-user"></i> </span>
            <h5>Detalhes</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span6">
                    <table class="table table-bordered table-invoice">
                        <tbody>
                            <tr>
                            <tr>
                                <td class="width30">@Html.DisplayNameFor(model => model.Nome):</td>
                                <td class="width70"><strong>@Html.DisplayFor(model => model.Nome)</strong></td>
                            </tr>
                            <tr>
                                <td>@Html.DisplayNameFor(model => model.Funcionando):</td>
                                <td><strong>@Html.DisplayFor(model => model.Funcionando)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-left">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn pull-right" })
                        @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary btn pull-right" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/select2.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}
@section Scripts{
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.tables.js"></script>
}