@model SistemaSase.Models.EstFisica_EstReparo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EstFisica_EstReparo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblEstFisica.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEstFisica.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblEstReparo.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblEstReparo.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
