@model SistemaSase.Models.tblEstReparo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblEstReparo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parede)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parede)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Teto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Teto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calcada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calcada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Portas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Portas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
