<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Custom css-->
    @RenderSection("css", required: false)
    <!--End custom css-->
</head>
<body>

    <!--Header-part-->
    <div id="header">
        <h1><a href="dashboard.html">a</a></h1>
    </div>
    <!--close-Header-part-->
    <!--TopMenu-->
    @Html.Partial("~/Views/Shared/TopHeaderMenu.cshtml")
    <!--sidebar-menu-->
    @Html.Partial("~/Views/Shared/SidebarMenu.cshtml")
    <!--sidebar-menu-->
    <!--main-container-part-->
    <div id="content">
        <!--breadcrumbs-->
        <div id="content-header">
            <div id="breadcrumb"> <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a></div>
        </div>
        <!--End-breadcrumbs-->
        <!--main-container-part-->
        <div class="container-fluid">
            <div class="row-fluid">
                @RenderBody()
            </div>
        </div>
    </div>

    <!--end-main-container-part-->
    <!--Footer-part-->

    <div class="row-fluid">
        <div id="footer" class="span12"> 2013 &copy; Matrix Admin. Brought to you by <a href="http://themedesigner.in">Themedesigner.in</a> </div>
    </div>

    <!--end-Footer-part-->


    <!--Custom script-->
    @RenderSection("scripts", required: false)
    <!--End custom script-->
    <script type="text/javascript">
        // This function is called from the pop-up menus to transfer to
        // a different page. Ignore if the value returned is a null string:
        function goPage(newURL) {

            // if url is empty, skip the menu dividers and reset the menu selection to default
            if (newURL != "") {

                // if url is "-", it is this page -- reset the menu:
                if (newURL == "-") {
                    resetMenu();
                }
                // else, send page to designated URL
                else {
                    document.location.href = newURL;
                }
            }
        }

        // resets the menu selection upon entry to this page:
        function resetMenu() {
            document.gomenu.selector.selectedIndex = 2;
        }</script>
</body>
</html>
