@model SistemaSase.Models.tblFiscalizacao

@{
    ViewBag.Title = "Details";
}

<div class="span12">
    <div class="widget-box">
        <div class="widget-title">
            <span class="icon"> <i class="icon-user"></i> </span>
            <h5>Detalhes</h5>
        </div>
        <div class="widget-content">
            <div class="row-fluid">
                <div class="span6">
                    <table class="table table-bordered table-invoice">
                        <tbody>
                            <tr>
                            <tr>
                                <td class="width30">@Html.DisplayNameFor(model => model.tblUeb.Nome):</td>
                                <td class="width70"><strong>@Html.DisplayFor(model => model.tblUeb.Nome)</strong></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-left">
                        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary btn pull-right" })
                        @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary btn pull-right" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/uniform.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/select2.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-style.css" />
    <link rel="stylesheet" href="~/Content/Layout/css/matrix-media.css" />
    <link href="~/Content/Layout/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
}
@section Scripts{
    <script src="~/Content/Layout/js/jquery.min.js"></script>
    <script src="~/Content/Layout/js/jquery.ui.custom.js"></script>
    <script src="~/Content/Layout/js/bootstrap.min.js"></script>
    <script src="~/Content/Layout/js/jquery.uniform.js"></script>
    <script src="~/Content/Layout/js/select2.min.js"></script>
    <script src="~/Content/Layout/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/Layout/js/matrix.js"></script>
    <script src="~/Content/Layout/js/matrix.tables.js"></script>
}

@{
    /*
    <div>
        <h4>tblFiscalizacao</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.tblAcessibilidade.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblAcessibilidade.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblArredoresUeb.Outros)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblArredoresUeb.Outros)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblCatSeg.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblCatSeg.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblEstFisica.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblEstFisica.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblEstReparo.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblEstReparo.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblRegistro.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblRegistro.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblUeb.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblUeb.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblGasCozinha.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblGasCozinha.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblIluminacao.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblIluminacao.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblListaTel.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblListaTel.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblLivroRegistro.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblLivroRegistro.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblOcoInternas.Outros)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblOcoInternas.Outros)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblPanicoIncendio.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblPanicoIncendio.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblProjViolencia.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblProjViolencia.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblSisHidraSaniRep.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblSisHidraSaniRep.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblSisIncendio.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblSisIncendio.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tblTransito.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tblTransito.Id)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    */
}