@model SistemaSase.Models.tblQntPosto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblQntPosto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostVigilante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostVigilante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostPorteiro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostPorteiro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostVigia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostVigia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
